<turbo-stream action="update" target="<%= dom_id(@friendship, :actions) %>">
  <template>
    <div class="text-rose-400 text-sm font-semibold">
      Error processing request. Please try again.
    </div>
  </template>
</turbo-stream>
